<html>
<head>
<style>
body {
  font-family: Helvetica;
}

.container {
  display: grid;
  grid-template-rows: 300px 80px 1fr;
  width: 650px;
  height: 570px;
  padding: 5px;
  margin-top: 10px;
  background: black;
}

img {
  width: 200px;
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  align-self: center;
}

.synopsis-name {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.synopsis-name > p{
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}

h2.theater-name {
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  align-self: end;
  justify-self: center;
}

p {
  line-height: 20px;
}

h2, p, td, th {
  color: white;
}

div.times {
  display: flex;
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 3;
  grid-row-end: span 1;
  justify-self: center;
}

div.times > p {
  margin: 2px;
}

div.dayTime:not(:first-child) {
  margin-left: 25px;
}

div.dayTime > p {
  font-size: 23px;
}

</style>
</head>
<body>
<div class="container">
  <img src="{{poster}}" />
  
  <div class="synopsis-name">
    <h2>{{movieName}} </h2>
    <p>{{description}}</p>
  </div>
  <h2 class="theater-name">&#x1F39E; {{theaterName}} &#x1F39E;</h2>
  <div class="times">
   {{#showings}}
     <div class="dayTime">
      <p>{{name}}</p> 
      {{#hours}}
       <p>{{.}}</p>
      {{/hours}}
    </div>
   {{/showings}}
  </div>
</div>
</body>
</html>
